@import "font/font.css";

*{
  margin: 0;
}


.header{
  max-width: 1320px;
  margin: 40px auto;
  display: flex;
}
.main{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 97%;
  justify-content: center;
  max-width: 1440px;
  padding: 55px 1.1% 0 ;
}



.main_section_block,
.category_section_block{
  position: relative;
  margin: 0 20px 40px 20px;
  width: 300px;
  height: 280px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transform-style: preserve-3d;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  transition: all .5s linear;
}

.main_section_block{ background: linear-gradient(40deg,#00bf82,#0099ae) }

.main_section_block:hover,
.category_section_block:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,.4);
}
.section_img{
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-top: 35px;
}
.section_img > img{
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}
.section_description{
  position: absolute;
  width: 100%;
  height: 50px;
  top: 230px;
  background: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.section_description >p{
  line-height: 45px;
  font-size: 1.5em;
}

.front{
  backface-visibility: hidden;
}
.back{
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.card{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.transform{
  transform: rotateY(180deg);
}

.rotate{
  position: absolute;
  background-image: url("data/img/rotate.png");
  background-size: 32px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  top: 239px;
  left: 85%;
  filter: grayscale(1);
  cursor: pointer;
}
.rotate:hover{
  filter: none;
}

.navigation{
  left: -100%;
  top: 0;
  position: fixed;
  padding: 125px 50px 0 50px;
  width: 280px;
  height: 100vh;
  z-index: 2;
  background: linear-gradient(40deg,#00bf82,#0099ae);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  transition: left .5s linear;
}
.show{
  left: 0;
}

.nav-item{
  display: inline-block;
  font-size: 22px;
  color: #fff;
  text-decoration: none;
  margin-top: 15px;
  margin-left: 15%;
  font-family: "Roboto";
}
.nav-item:nth-child(2){ color: #00FF7F}
.nav-item:nth-child(3){ color: #00CED1}
.nav-item:nth-child(4){ color: #FFD700}
.nav-item:nth-child(5){ color: #4B0082}
.nav-item:nth-child(6){ color: #F0E68C}
.nav-item:nth-child(7){ color: #DC143C}
.nav-item:nth-child(8){
  color: #FFA500;
  margin-right: 40px;
}
.nav-item:nth-child(9){ color: #1E90FF}



#hamburger-menu{
  z-index: 3;
  top:11px;
  width: 33px;
  height: 27px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

#hamburger-menu span{
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: grey;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#hamburger-menu span:nth-child(1) {
  top: 0px;
}

#hamburger-menu span:nth-child(2),#hamburger-menu span:nth-child(3) {
  top: 9px;
}

#hamburger-menu span:nth-child(4) {
  top: 18px;
}

#hamburger-menu.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#hamburger-menu.open span:nth-child(2) {
  transform: rotate(45deg);
}

#hamburger-menu.open span:nth-child(3) {
  transform: rotate(-45deg);
}

#hamburger-menu.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/*///////////*/

.switch {
  margin-left: 1155px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 120px;
  height: 40px;
  padding: 3px;
  background-color: white;
  border-radius: 18px;
  box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 20px;
  text-transform: uppercase;
  background: linear-gradient(40deg,#ffd86f,#fc6262);
  border-radius: 10px;
  transition: 0.15s ease-out;
}
.switch-label:before, .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  transition: inherit;
  font-family: "Roboto";
}
.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: #fff;
}
.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}
.switch-input:checked ~ .switch-label {
  background: linear-gradient(40deg,#00bf82,#0099ae);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}

.switch-handle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 38px;
  height: 38px;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to bottom, white 40%, #f0f0f0);
  transition: left 0.15s ease-out;
}
.switch-handle:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: #f9f9f9;
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
  background-image: linear-gradient(to bottom, #eeeeee, white);
}
.switch-input:checked ~ .switch-handle {
  left: 84px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-green > .switch-input:checked ~ .switch-label {
  background: #4fb845;
}

@media ( max-width:1402px ) {
  .header{
    max-width: 980px;
  }
  .switch{
    margin-left: 820px;
  }
}
@media ( max-width:1051px ){
  .header{
    max-width: 640px;
  }
  .switch{
    margin-left: 480px;
  }
}
@media ( max-width:701px ) {
  .header{
    max-width: 300px;
  }
  .switch{
    margin-left: 140px;
  }
  .navigation{
    width: 200px;
  }
}
